:root {
  font-size: 16px;
  box-sizing: border-box;

  --bg-color: #f9f4ef;
  --text-color: #716040;
  --time-color: #8c7851;
}

*{
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

body{
  background-color: var(--bg-color);
  padding: 10px;
}

.main{
  text-align: center;  
}

.name-header{
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

#img-div{
  background-color: white;
  height: 700px;
}

#img-caption{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

h3{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tribute-info .list{
	padding: 0 20em;
}

.tribute-info .list *{
	margin-top: 1.2em;
}

.tribute-info .list > li {
  font-size: 1.2rem;
  text-align: center; /*or center*/
  color: var(--text-color);
}

.tribute-info .list time{
	font-weight: bolder;
}

.motivation{
	border-top: 1px solid var(--bg-color);
	text-align: center;
	padding-top: 1em;
	margin: 2em 4em;
	text-align: center;
}

.motivation p{
	padding: 0 15em;
	font-style: italic;
	text-align: justify;
}

.motivation > p {
  margin-bottom: 0.5em;
}

.tribute-link{
	text-align: justify;
	font-size: 18px;
	font-weight: bolder;
}

.tribute-link a{
	color: purple;
}

@media (min-width: 280px){
	.main .name-header, .description{
		text-align: center;
		font-size: 18px;
	}
	
	#img-div{
		height: 100%;
		padding: 7px;
	}
	
	#image{
		width: 100%;
	}
	
	#img-caption{
		font-size: 14px;
		text-align: justify;
	}
	
	.tribute-info .list{
		padding: 0 2em;
	}
	
	.motivation p{
		padding: 0;
		font-style: italic;
		text-align: left;
		font-size: 12px;
	}
	
	.tribute-link{
		text-align: center;
		font-size: 14px;
		font-weight: bolder;
	}
}
	
@media (min-width: 365px){
	.main .name-header, .description{
		text-align: center;
		font-size: 18px;
	}
	
	#img-div{
		height: 100%;
		padding: 7px;
	}
	
	#image{
		width: 100%;
	}
	
	#img-caption{
		font-size: 14px;
		text-align: justify;
	}
	
	.tribute-info .list{
		padding: 0 2em;
	}
	
	.motivation p{
		padding: 0 0.25em;
		font-style: italic;
		text-align: left;
	}
}

@media (min-width: 600px){
	.main .name-header, .description{
		text-align: center;
		font-size: 18px;
	}
	
	#img-div{
		height: 100%;
		padding: 7px;
	}
	
	#image{
		width: 100%;
	}
	
	#img-caption{
		font-size: 16px;
		text-align: justify;
	}
	
	.tribute-info .list{
		padding: 0 2em;
	}
	
	.motivation p{
		padding: 0 0.25em;
		font-style: italic;
		text-align: left;
		font-size: 18px;
	}
	
	.tribute-link{
		text-align: center;
		font-size: 18px;
		font-weight: bolder;
	}
}

@media (min-width: 801px){
	.main .name-header{
		font-size: 25px;
	}
	
	.main .description{
		font-size: 18px;
	}
	
	#img-div{
		height: 100%;
		padding: 7px;
	}
	
	#image{
		width: 100%;
	}
	
	#img-caption{
		font-size: 16px;
		text-align: justify;
	}
	
	.tribute-info .list{
		padding: 0 2em;
	}
	
	.motivation p{
		padding: 0 0.25em;
		font-style: italic;
		text-align: left;
		font-size: 18px;
	}
	
	.tribute-link{
		text-align: center;
		font-size: 18px;
		font-weight: bolder;
	}
}

@media (min-width: 1024px){
	.main .name-header{
		font-size: 25px;
	}
	
	.main .description{
		font-size: 18px;
	}
	
	#img-div{
		height: 100%;
		padding: 7px;
	}
	
	#image{
		width: 100%;
	}
	
	#img-caption{
		font-size: 18px;
		text-align: center;
	}
	
	.tribute-info .list{
		padding: 0 20em;
	}
	
	.motivation p{
		padding: 0 13em;
		font-style: italic;
		text-align: justify;
	}
	
	.tribute-link{
		font-size: 20px;
		font-weight: bolder;
	}
}

@media (min-width: 1281px){
	.main .name-header{
		font-size: 25px;
	}
	
	.main .description{
		font-size: 18px;
	}
	
	#img-div{
		height: 100%;
		padding: 7px;
	}
	
	#image{
		width: 100%;
	}
	
	#img-caption{
		font-size: 18px;
		text-align: center;
	}
	
	.tribute-info .list{
		padding: 0 20em;
	}
	
	.motivation p{
		padding: 0 13em;
		font-style: italic;
		text-align: justify;
	}
	
	.tribute-link{
		font-size: 20px;
		font-weight: bolder;
	}
}

/*Micro Clearfix
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.

.cf:before,
.cf:after {
    content: " "; /* 1 
    display: table; /* 2 
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.

.cf {
    *zoom: 1;
}*/